.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh; /* Minimum height to fill the viewport */
  width: calc(100vw - 100px);
  padding-top: var(--top-pad);
  padding-left: var(--left-pad);
}
.column {
  display: flex;
  flex-direction: column;
}
.rotation {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: left;
}
.archivePage {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  font-size: 16px;
}
.archiveInner {
  display: flex;
  flex-wrap: wrap;
  /* width: 70vw; */
}
.filterTag {
  width: 123px;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  padding: 3px;
}

.archiveContent {
  width: 100%;
}
.archiveHeaders {
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  width: 100%;
}
.archiveRow {
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  width: 100%;
}
.archiveRow:hover {
  background-color: #0f45c9;
}
.archiveTitle {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.archiveTitleYear {
  width: 5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  flex-shrink: 0;
  justify-content: space-between;
}
.archiveTitleCont {
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.archiveTitleLoc {
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.archiveTitleCat {
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.archiveTitleText {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  font-style: Bold Condensed BT;
  text-align: left;
  font-family: Zurich;
  font-weight: 700;
  line-height: normal;
  font-stretch: condensed;
  text-decoration: none;
}

.archiveRowText {
  font-family: "GT America";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
  width: 100%;
}
.archiveRowTextYear {
  font-family: "GT America";
  font-weight: 200;
  font-size: 14px;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
  width: 100%;
  text-align: right;
}
.linktext {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}
.linktext:hover {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

@media only screen and (max-width: 970px) {
  .container {
    padding-top: var(--mob-pad-top);
    padding-left: var(--mob-pad-left);
  }
}
@media only screen and (max-width: 768px) {
  .archiveTitle {
    width: 40vw;
  }
  .archiveTitleYear {
    width: 10vw;
  }
  .archiveTitleCont {
    width: 30vw;
  }
}
