.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding-top: var(--top-pad);
  /* padding: 160px 10px; */
  box-sizing: border-box;
  padding-left: var(--left-pad);
}

.column {
  display: flex;
  flex-direction: column;
}
.rotation {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: left;
}

.digital-garden {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex: 1;
  width: calc(100vw - 20px);
  background-image: linear-gradient(#b0b0b0, #f6f6f6);
  padding: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}
.gardenOuter {
  width: 70vw;
}
.gardenContent {
  height: calc(100vh - 245px);
  width: 73vw;
  overflow-y: scroll;
  overflow-x: hidden;
}
.gardenContent::-webkit-scrollbar {
  display: none;
}
.drop-down {
  height: fit-content;
  background-color: #f6f6f6;
  border-radius: 13px;
  border: 0.5px solid rgba(0, 0, 0, 1);
  align-self: stretch;
  margin-bottom: 10px;
  padding: 5px 10px 5px 10px;
  font-family: "GT America";
  font-weight: 200;
  font-size: 12px;
}
.drop-down:hover {
  background-color: #82f74f;
  cursor: pointer;
}
.float-right {
  float: right;
}
@media only screen and (max-width: 970px) {
  .container {
    padding-top: var(--mob-pad-top);
    padding-left: var(--mob-pad-left);
  }
  .digital-garden {
    flex-direction: column;
    width: calc(100% - 20px);
  }
  .gardenOuter {
    width: calc(100vw - 20px);
  }
  .gardenContent {
    width: calc(100vw - 35px);
  }
}
