.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.outer {
  gap: 10px;
  display: flex;
  flex-direction: column; /* Change to a vertical flex layout */
  align-items: flex-start;
  flex-shrink: 0;
  /* padding-left: var(--left-pad); */
  padding-top: var(--top-pad);
}
.fullheight {
  min-height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.img-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -10;
  left: 0vw;
  top: 0vh;
  /* background-image: linear-gradient(#82f74f, #f6f6f6); */
  /* background-image: url("../../assets/bookshop_img.jpg");  */
  background-size: cover;
}
.outer {
  gap: 10px;

  align-items: flex-start;
  flex-shrink: 0;
  padding-left: var(--left-pad);
  padding-top: var(--top-pad);
}
.column {
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.left-col {
  width: calc(50vw - 300px);
  padding-right: 150px;
}

.bookshop-quote {
  width: 290px;
  text-align: justify;
  text-justify: inter-word;
  padding-top: 15vh;
  padding-right: 10vw;
  margin-left: 150px;
  justify-content: space-around;
}

.textbox {
  width: 480px;
  align-items: flex-start;
  flex-shrink: 0;
}
@media only screen and (max-width: 970px) {
  .outer {
    flex-direction: column;
    padding: 10px;
    padding-top: var(--mob-pad-top);
    width: 100vw;
  }
  .column {
    width: 100vw;
  }
  .textbox {
    margin: 0px;
    width: calc(100vw - 20px);
  }
  .fullheight {
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    padding-bottom: 50vh;
  }

  .bookshop-quote {
    padding-top: 30vh;
    padding-right: 0;
    padding-bottom: 40vh;
    margin-left: calc(50vw - 145px);
    height: 80vh;
  }
}
