.AboutMenuContainer {
  gap: 10px;
  /* padding-top: var(--top-pad); */

  /* margin-left: 50px; */
}
.AboutMenu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: fixed;
  padding-bottom: 30px;
}
.NonCurrentTab {
  color: rgba(111, 111, 111, 1);
  font-family: "Zurich";
  font-weight: 600;
  font-stretch: condensed;
  text-decoration: none;
}
.NonCurrentTab:hover {
  color: rgba(0, 0, 0, 1);
}
.CurrentTab {
  color: rgba(0, 0, 0, 1);
  font-family: "Zurich";
  font-weight: 600;
  font-stretch: condensed;
  text-decoration: none;
}
@media only screen and (max-width: 970px) {
  .AboutMenuContainer {
    /* display: none; */
    padding-top: var(--mob-top-pad);
  }
  .AboutMenu {
    width: 100vw;
    background-image: linear-gradient(#f6f6f6, 90%, rgba(255, 255, 255, 0));
    /* display: none; */
  }
}
