.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Minimum height to fill the viewport */
  width: 100vw;
}
.container > * {
  width: 50vw;
}
.aboutPage {
  gap: 10px;
  display: flex;
  flex-direction: column; /* Change to a vertical flex layout */
  align-items: flex-start;
  flex-shrink: 0;
  padding-left: var(--left-pad);
  padding-top: var(--top-pad);
}
.aboutPage > * {
  width: 50vw;
}
.AboutSection {
  gap: 10px;
  display: flex;
  padding: 0 0 100px;
  align-items: flex-start;
  flex-shrink: 0;
  min-height: fit-content;
}
.textbox {
  gap: 10px;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  margin-left: 75%;
}
.imageborder {
  top: 0px;
  left: 0px;
  width: 480px;
  height: 639px;
  display: flex;
  position: absolute;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  align-items: flex-start;
  flex-shrink: 0;
}
.textbox > h5 {
  line-height: 100px;
}
.fundingText a {
  font-size: var(--font-size);
}
.logo-insitu {
  font-family: "Zurich";
  text-decoration: none;
  user-select: none;
  font-size: var(--font-size);
}
.logo-insitu:hover {
  text-decoration: none;
  color: black;
  cursor: text;
}
@media only screen and (max-width: 970px) {
  .aboutPage {
    align-items: flex-start;
    flex-shrink: 0;
    padding-left: 10px;
    padding-top: var(--mob-pad-top);
  }

  .AboutSection {
    min-height: fit-content;
    padding-top: var(--mob-pad-top);
  }
  .aboutPage > * {
    width: 100vw;
  }
  .textbox {
    margin: 0px;
    width: calc(100vw - 20px);
    padding-top: 60px;
  }
}

.image-container {
  position: fixed;
  margin: 15vw;
  padding-left: calc(50vw - 100px);
  z-index: 15;
  width: 200px;
  height: 300px;
  /* background-color: red; */
}
.image-container > * {
  width: 200px;
}
/* @media only screen and (max-width: 480px) {
  .aboutPage {
    align-items: flex-start;
    flex-shrink: 0;
    padding-left: 10px;
    padding-top: var(--mob-pad-top);
  }

  .AboutSection {
    padding-top: var(--mob-pad-top);
  }
  .aboutPage > * {
    width: 100vw;
  }
  .textbox {
    margin: 0px;
    width: calc(100vw - 20px);
    padding-top: 60px;
  }
  h5 {
    display: none;
  }
} */
