:root {
  --day-width: 10vw;
}
.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh; /* Minimum height to fill the viewport */
  width: 100vw;
  padding-top: var(--top-pad);
  /* padding-left: 10px;
  padding-right: 10px; */
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calendar {
  flex: 1; /* Expand to fill available space */
  display: flex;
  flex-direction: column; /* Change to a vertical flex layout */
  align-items: flex-start; /* Align to the top of the container */
  /* padding: 10px; */
  box-sizing: border-box;
  margin-left: calc((100vw - 77vw) / 2);
}

.title-box {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  /* padding: 10px; */
}
.day-title {
  width: var(--day-width);
  height: fit-content;
  text-align: right;
  font-size: 16px;
  font-family: "GT America";
  font-weight: 200;
}
.day-number {
  font-size: 12px;
  border: 0.5px solid;
  border-color: #000000;
  border-radius: 10px; /* Set the border to be circular */
  display: inline-flex;
  padding: 0px 10px;
  float: right;
  align-items: center;
  justify-content: center;
  width: 20px;
}

.day-box {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: fit-content;
  align-content: flex-start;
  border-left: 0.25px solid black;
  border-top: 0.25px solid black;
  margin-bottom: 10px;
}
.day-box > * {
  justify-content: space-around;
}
.each-day {
  width: var(--day-width);
  height: 80px;
  border-right: 0.25px solid black;
  border-bottom: 0.25px solid black;
  padding: 5px;
}
.each-day:hover {
  background-color: #82f74f;
}
.rotation {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: left;
}
.monthSelector {
  width: 100%;
}
.monthInner {
  display: flex;
  flex-direction: row;
  font-size: 22px;
  font-family: "Zurich";
  font-weight: 600;
}
.monthInner > * {
  width: calc(100% / 3);
  text-align: center;
}
.btn-access {
  /* padding: 5px 100px; */
  cursor: pointer;
}
.calendarMobile {
  width: calc(100% - 10px);

  padding: 5px;
}
.mob-month {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Zurich";
  font-size: 28px;
}

.eventItem {
  width: 100%;
  padding-top: 20px;
  border-bottom: 0.5px solid black;
}
.eventItem:hover {
  background-color: #82f74f;
}
.linktext {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
.linktext:hover {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .container {
    padding-top: var(--mob-pad-top);
    padding-left: 0px;
    padding-right: 0px;
  }
  .calendar {
    padding: 0px;
  }
  .calendarPage {
    width: 100%;
  }
  .column {
    width: 100%;
    padding: 0px;
  }
}
