:root {
  --footer-font: 10px;
}
.footer {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  /* display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 2fr 5fr;
  grid-template-areas: "titletext address hours titletext links text"; */
  /* padding-top: 50px; */
  width: 100vw;
}
.footer p,
.footer a {
  font-size: var(--footer-font);
}
.footer-section {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-shrink: 0;
}
.titletext {
  width: 36px;
  color: rgba(0, 0, 0, 1);
  font-size: 28px;
  text-align: left;
  font-family: "Zurich";
  line-height: 32px;
  text-decoration: none;
}
.footer-r {
  box-sizing: border-box;
  height: fit-content;
  width: calc(55vw - 72px);
  font-family: "Zurich";
  text-align: right;
  padding: 5px;
  width: 100vw;
  font-size: 111px;
}
.footer-rotation {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: left;
}
.address {
  width: 14vw;
  display: flex;
  flex-direction: column;
}
.hours {
  width: 14vw;
  display: flex;
  flex-direction: column;
}
.links {
  width: 14vw;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 970px) {
  .footer-r {
    font-size: 80px;
  }
}
