:root {
  --footer-font: 10px;
}
.footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  text-align: right;
  margin-top: auto;

  height: 90px;
}
.footer-r {
  font-family: "Zurich";
  text-align: right;
  font-size: 80px;
  padding: 5px;
}

@media only screen and (max-width: 970px) {
  .footer {
    height: 45px;
  }
  .footer-r {
    font-size: 45px;
  }
}
