:root {
  --footer-font: 10px;
}
.footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  text-align: right;
  margin-top: auto;
  padding-top: 50px;
  height: 90px;
}
.footer-r {
  font-family: "Zurich";
  text-align: right;
  font-size: 80px;
  padding: 5px;
}
.footer-section {
  display: flex;
  flex-direction: column;
}
.footer p {
  font-size: 8px;
  line-height: 12px;
  font-family: "GT America";
  font-weight: 200;
  text-align: right;
}
.footer a {
  font-size: 8px;
  line-height: 12px;
  font-family: "GT America";
  font-weight: 200;
  text-align: right;
}
@media only screen and (max-width: 970px) {
  .footer {
    height: 45px;
  }
  .footer-r {
    font-size: 45px;
  }
}
