.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Minimum height to fill the viewport */
  width: 100vw;
}
.outer > * {
  width: 50vw;
}
.outer {
  gap: 10px;
  display: flex;
  flex-direction: row; /* Change to a vertical flex layout */
  align-items: flex-start;
  flex-shrink: 0;
  padding-left: var(--left-pad);
  padding-top: var(--top-pad);
}
.column {
  width: 50vw;
  display: flex;
  flex-direction: column;
}
.left-col {
  display: flex;
  flex-direction: row;
}
.textbox {
  width: 480px;
  display: flex;
  flex-direction: row;
}
.fullheight {
  height: 100vh;
}
.rotation {
  writing-mode: vertical-rl; /* Rotate the text vertically */
  white-space: nowrap; /* Prevent line breaks */
  transform: rotate(180deg);
  text-align: right;
  font-family: "Zurich";
  font-size: 32px;
  line-height: 28px;
}
.text-img {
  display: flex;
  flex-direction: row;
}
.imageCont {
  width: 480px;
  height: auto;
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
  margin-top: 50px;
}
.imageStyle {
  width: 100%;
  height: auto;
  display: block;
}
@media only screen and (max-width: 970px) {
  .outer {
    flex-direction: column;
    padding-left: var(--mob-pad-left);
    padding-top: var(--mob-pad-top);
    width: 100vw;
  }
  .column {
    width: 100vw;
  }
  .textbox {
    margin: 0px;
    width: calc(100vw - 20px);
  }
  .left-col {
    width: 100vw;
    padding-right: 10px;
  }
  .fullheight {
    height: fit-content;
  }
  .imageCont {
    width: calc(100vw - 20px);
    height: auto;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.5);
  }
}
