.searchBar {
  height: 35px;
}
input {
  width: 100%;
  height: 30px;
  border-radius: 13px;
  padding: 0px 5px;
  border: 0.5px solid black;
  background-color: #f6f6f6;
  font-family: "GT America";
  font-weight: 200;
}

.searchBar .overlap-group {
  height: 30px;
  position: relative;
}

.searchBar .div-wrapper {
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - 20px);
}

.searchBar .text-wrapper {
  color: #000000;
  font-family: "IBM Flex Sans Condensed-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 58px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  width: 346px;
}

.searchBar .div {
  color: #000000;
  font-family: "GT America Mono-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 13px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
}
@media only screen and (max-width: 970px) {
  .searchBar .div-wrapper {
    width: calc(100% - 10px);
  }
  input {
    width: 100%;
  }
}
