.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Minimum height to fill the viewport */
  width: 100vw;
}
.outer {
  gap: 10px;
  display: flex;
  flex-direction: row; /* Change to a vertical flex layout */
  align-items: flex-start;
  flex-shrink: 0;
  padding-left: var(--left-pad);
  padding-top: var(--top-pad);
}

.fullheight {
  min-height: calc(100vh - 120px);
}
.column {
  display: flex;
  flex-direction: row;
}
.contactPage {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 970px) {
  .outer {
    flex-direction: column;
    padding-left: var(--mob-pad-left);
    padding-top: var(--mob-pad-top);
    width: 100vw;
  }
  .column {
    width: 100vw;
  }
  .textbox {
    width: 300px;
  }
  .left-col {
    width: 100vw;
    padding-right: 10px;
  }
}
