.outer {
  min-height: calc(100vh - 310px); /* Minimum height to fill the viewport */
  gap: 10px;
  /* Change to a vertical flex layout */
  align-items: flex-start;
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: var(--left-pad);
  padding-right: var(--left-pad);
  padding-top: var(--top-pad);
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rotation {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: right;
  width: fit-content;
}
.textbox {
  width: 100%;
  font-size: 16px;
  font-family: "GT America";
  font-weight: 200;
  flex-shrink: 0;
}
.column {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: "GT America";
  font-size: 16px;
  font-weight: 200;
  min-height: fit-content;
}
.container a {
  text-decoration: underline;
  font-weight: 200;
  border-radius: 15px;
}
.container a:hover {
  border-radius: 15px;
  text-decoration: none;
  background-color: #dadada;
}

.row-col {
  display: flex;
  flex-direction: row;
}
.links {
  display: flex;
  flex-direction: column;
}
.subscribe {
  box-sizing: border-box;
  padding: 100px;
  height: 130px;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 100px;
}
@media only screen and (max-width: 970px) {
  .container {
    flex-direction: column;
    width: 100vw;
  }
  .outer {
    padding-left: var(--mob-pad-left);
    padding-right: var(--mob-pad-left);
    padding-top: var(--mob-pad-top);
  }
  .column {
    width: 90vw;
    padding-bottom: 50px;
    min-height: 250px;
  }
  .textbox {
    padding-bottom: 100px;
    width: calc(100vw - 20px);
  }
  .left-col {
    width: 100vw;
    padding-right: 10px;
  }
  .subscribe {
    padding: 5px;
    margin-bottom: 150px;
  }
}
